.virtues-explanation {
	padding-top: 100px;
	color: #301265;
	font-weight: 300;
}

.virtues-explanation p {
	position: relative;
	margin-bottom: 60px;
}

.virtues-explanation p::before {
	content: '';
	position: absolute;
	height: 1px;
	width: 100%;
	background-color: rgb(177, 177, 177);
	bottom: -15px;
}

.virtues-title {
	text-transform: capitalize;
	font-weight: 400;
}