.day-cell {
	border:1px solid rgb(177, 177, 177);
}

.day-cell:hover {
	background-color: rgb(200, 204, 250);
	cursor: pointer;
}

.day-cell .container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.circle {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #45557e;
}



